@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --link-muted: 0 0% 94%;
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 0%;
    --dialog: 0 0% 96%;
    --hover: 0 0% 96%;
    --primary: 362 93% 47%;
    --primary-hover: 362 93% 40%;
    --secondary: 0 0% 88%;
    --secondary-hover: 0 0% 85%;
    --muted: 0 0% 92%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 92%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --border-extralight: 0 0% 85%;
    --input: 0 0% 80%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --link-muted: 0 0% 6%;
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;
    --dialog: 0 0% 4%;
    --hover: 0 0% 6%;
    --primary: 362 93% 47%;
    --primary-hover: 362 93% 40%;
    --secondary: 0 0% 12%;
    --secondary-hover: 0 0% 15%;
    --muted: 0 0% 8%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 8%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --border-extralight: 0 0% 15%;
    --input: 0 0% 20%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
