@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 218 32% 99%;
    --foreground: 218 5% 10%;
    --card: 220 100% 95%;
    --card-foreground: 218 5% 15%;
    --popover: 218 32% 99%;
    --popover-foreground: 218 99% 10%;
    --primary: 218 90% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 0% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 181 30% 85%;
    --muted-foreground: 218 5% 10%;
    --accent: 220 0% 92%;
    --accent-foreground: 220 5% 15%;
    --destructive: 0 50% 31%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 20%;
    --input: 218 0% 31%;
    --ring: 218 58% 46%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 218 32% 8%;
    --foreground: 218 5% 90%;
    --card: 218 32% 10%;
    --card-foreground: 218 5% 90%;
    --popover: 218 32% 5%;
    --popover-foreground: 218 5% 90%;
    --primary: 218 90% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 181 30% 25%;
    --muted-foreground: 218 5% 60%;
    --accent: 218 35% 15%;
    --accent-foreground: 218 5% 90%;
    --destructive: 0 50% 31%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 31%;
    --input: 218 30% 31%;
    --ring: 218 58% 46%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark .custom-gradient-border {
    background: linear-gradient(#0e121b 0 0) padding-box,
      linear-gradient(grey 0 0) border-box;
  }

  .dark .custom-gradient-border:focus {
    background: linear-gradient(white 0 0) padding-box,
      linear-gradient(to right, #f00, #00f) border-box;
  }
}

/* .custom-gradient-border {
  background: linear-gradient(#0e121b 0 0) padding-box,
    linear-gradient(grey 0 0) border-box;
}

.custom-gradient-border:focus {
  background: linear-gradient(white 0 0) padding-box,
    linear-gradient(to right, #f00, #00f) border-box;
} */
