@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 80 12% 99%;
    --muted-background: 80 20% 88%;
    --foreground: 80 12% 8%;
    --card: 80 12% 97%;
    --card-foreground: 80 12% 15%;
    --popover: 200 30% 99%;
    --popover-foreground: 80 99% 8%;
    --primary: 80 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 12% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 80 12% 95%;
    --muted-foreground: 80 12% 8%;
    --accent: 80 12% 93%;
    --accent-foreground: 80 12% 15%;
    --destructive: 0 50% 31%;
    --destructive-foreground: 80 12% 92%;
    --border: 80 12% 70%;
    --input: 80 12% 70%;
    --ring: 80 95% 46%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 80 10% 7%;
    --muted-background: 80 20% 22%;
    --foreground: 80 10% 92%;
    --card: 80 10% 4%;
    --card-foreground: 80 5% 92%;
    --popover: 80 10% 6%;
    --popover-foreground: 80 5% 92%;
    --primary: 80 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 80 10% 2%;
    --muted-foreground: 80 5% 70%;
    --accent: 80 10% 13%;
    --accent-foreground: 80 5% 92%;
    --destructive: 0 10% 31%;
    --destructive-foreground: 80 10% 92%;
    --border: 80 10% 31%;
    --input: 80 10% 31%;
    --ring: 80 20% 46%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
