@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-poppins: var(--font-poppins);

  --animate-loader-animation: loader-animation 1.8s infinite;

  --grid-template-columns-auto-fit: repeat(auto-fit, minmax(10rem, 1fr));

  --color-link: hsl(var(--link));
  --color-link-muted: hsl(var(--link-muted));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-dialog: hsl(var(--dialog));

  --color-hover: hsl(var(--hover));

  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-hover: hsl(var(--secondary-hover));

  --color-muted: hsl(var(--muted));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-border-extralight: hsl(var(--border-extralight));

  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes loader-animation {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(128px);
    }
    100% {
      transform: translate(0px);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
	:root {
		--link-muted: 0 0% 94%;
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 0%;
		--popover: 0 0% 97%;
		--popover-foreground: 0 0% 0%;
		--dialog: 0 0% 97%;
		--hover: 0 0% 97%;
		--primary: 362 93% 47%;
		--primary-hover: 362 93% 40%;
		--secondary: 0 0% 88%;
		--secondary-hover: 0 0% 85%;
		--muted: 0 0% 92%;
		--accent: 0 0% 100%;
		--accent-foreground: 0 0% 92%;
		--destructive: 0 0% 100%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 80%;
		--border-extralight: 0 0% 85%;
		--input: 0 0% 80%;
		--ring: 0 0% 0%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 100%;
		--sidebar-foreground: 240 5.3% 10%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--link-muted: 0 0% 6%;
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;
		--card: 0 0% 0%;
		--card-foreground: 0 0% 100%;
		--popover: 0 0% 4%;
		--popover-foreground: 0 0% 100%;
		--dialog: 0 0% 4%;
		--hover: 0 0% 6%;
		--primary: 362 93% 47%;
		--primary-hover: 362 93% 40%;
		--secondary: 0 0% 12%;
		--secondary-hover: 0 0% 15%;
		--muted: 0 0% 8%;
		--accent: 0 0% 100%;
		--accent-foreground: 0 0% 8%;
		--destructive: 0 0% 0%;
		--destructive-foreground: 0 0% 0%;
		--border: 0 0% 20%;
		--border-extralight: 0 0% 15%;
		--input: 0 0% 20%;
		--ring: 0 0% 100%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 0%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-background text-foreground;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	input[type="number"] {
		-moz-appearance: textfield; /* Firefox */
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/*
  ---break---
*/

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
